html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  color: #ffffff;
  color-scheme: light;

  overflow-x: hidden;

  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.social-icon {
  color: #fff;
  width: 150px;
  height: 150px;

}

@media only screen and (max-width: 450px) {
  .social-icon {

    width: 70px;
    height: 70px;

  }
}