.navbar {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
}

.navList {
    display: flex;
    /* justify-content: space-between; */
    list-style: none;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.navList li {

    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* Теперь ссылка занимает всю область внутри <li> */
.link {
    display: block;
    /* Делает всю область кликабельной */
    width: 80px;
    /* Растягивает ссылку по ширине */
    padding: 0.5rem 1rem;
    /* Соответствует размеру <li> */
    border-radius: 4px;
    /* Закругление краёв */
    text-align: center;
    /* Выравнивание текста */
    text-decoration: none;
    /* Убирает стандартное подчеркивание */
    color: #fff;
    /* Цвет текста */
    /* border: solid 1px #fff; */
}

.link:hover {
    background-color: #ffffff;
    color: #333;
}

.active .link {
    border: solid 1px #fff;
    /* color: #a0351a; */
}

@media only screen and (max-width: 450px) {

    /* Styles for iPhone 14 Pro Max and similar devices */
    .navList {

        gap: 18px;

    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        /* Делает всю область кликабельной */
        width: 60px;
        /* Растягивает ссылку по ширине */
        padding: 0.5rem 0.5rem;
        /* text-align: center; */

    }

    /* .navList li {
        
        border-radius: 4px;
        transition: background-color 0.3s ease;
    } */
}